@tailwind base;
@tailwind components;

.hover-base{
    @apply transition duration-500 ease-out hover:transition hover:duration-500 hover:ease-out
}

@tailwind utilities;

button,
textarea,
input,
select,
a {
    -webkit-tap-highlight-color: transparent !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}